<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlegmail</string>
		<string>ms-outlook</string>
		<string>readdle-spark</string>
		<string>ymail</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>nunitosans_regular_common.ttf</string>
		<string>nunitosans_bold_common.ttf</string>
		<string>nunitosans_semibold_common.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-SemiBold.ttf</string>
		<string>Rubik-Regular.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>white</string>
		<key>UIImageName</key>
		<string>launcher</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
