<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environments</key>
	<array>
		<dict>
			<key>shuffle-keyboard</key>
			<false/>
			<key>base-path</key>
			<string>https://test-api.ekenya.co.ke/</string>
			<key>end-point</key>
			<string>mobile-banking</string>
			<key>app-timeout</key>
			<integer>2</integer>
			<key>name</key>
			<string>Development</string>
			<key>active</key>
			<true/>
			<key>short-code</key>
			<string>*871*1*303#</string>
			<key>early-build</key>
			<true/>
			<key>pks-1</key>
			<string>58MT+3VLLMil2ZBIZPHGtUQZH1y1LD5AnVR6t4J8TUk=</string>
			<key>pks-2</key>
			<string>w9I8WrpHr1YAS0DugvLGsrI9Vm1yEkZAyllKxemXXf4=</string>
		</dict>
		<dict>
			<key>shuffle-keyboard</key>
			<false/>
			<key>alt-path</key>
			<string>ai/VBdTdWGq2HsizqaZUMDD30jNfqSxZ7HMT+iZ0NC3vy1LImIG8e09UTA0//1sH6/71JqbXs7Fu24il+e0JYkEd8GYmGHIEjlsgb6X525CSSja21ZXRTNBZ8YZKq28AfZ18YTyjMSR8Z3NX7D+Jvt19DIi/hNhZhK5RtW9HaeKEswLnm5qd/TIVAUPki66axJGIEK4xV5/rq8ouzsKL6ILeD2olD8J4NLvkD1DPEK2ZKvbyArIMjeQg9QT0g1hHWKTxJ8LVZRQTUKC4N6FuUn7gm8NoFFumhn9yPuQ8D3LQZlt9C/at0FUeBJITN5s/xz1DYoNvZuGPZYl9beuiFw==</string>
			<key>base-path</key>
			<string>ai/VBdTdWGq2HsizqaZUMDD30jNfqSxZ7HMT+iZ0NC3vy1LImIG8e09UTA0//1sH6/71JqbXs7Fu24il+e0JYkEd8GYmGHIEjlsgb6X525CSSja21ZXRTNBZ8YZKq28AfZ18YTyjMSR8Z3NX7D+Jvt19DIi/hNhZhK5RtW9HaeKEswLnm5qd/TIVAUPki66axJGIEK4xV5/rq8ouzsKL6ILeD2olD8J4NLvkD1DPEK2ZKvbyArIMjeQg9QT0g1hHWKTxJ8LVZRQTUKC4N6FuUn7gm8NoFFumhn9yPuQ8D3LQZlt9C/at0FUeBJITN5s/xz1DYoNvZuGPZYl9beuiFw==</string>
			<key>end-point</key>
			<string>c5CAgKEq1ZI5o+W/qD/KSP2sHiXeNUn8utFlsgLUpEvtF8jcCHZg7H/257eUnxtwm8eiOYAUG9KkLBuwhoAaAdmNdQE2Ni94wX34B2XICYAF0qa2kU9dgy/iQ2O8Iza3RCQZvgKPjK5PfEdaRdlcljKqK6zGn4QLnxx2XJDxN9Qj8t/AdBQ3r/x8nvpi0vQbJlxKVXtk0T2I9Xy/igIDZEFbyGUAIqNlMEnahNsP7nMc0VFSxigfecStvciqUxhycodPfbJUnpXzC12J9ZeetIgXKHqIQGOuP48AZrq+hW3lhlhCAt7YRpDH0HZa5zQTiIPBOFyCykLKXkuUeX1Rug==</string>
			<key>app-timeout</key>
			<integer>2</integer>
			<key>name</key>
			<string>Production</string>
			<key>active</key>
			<true/>
			<key>short-code</key>
			<string>Ehv/r2wA1ybNO17Gj43PjphV1AMBdjet4tvH1bRvOf/KxYNM68GRXNxILh9MZDTr+rcSqkeU5a3lvI4kycA9NVqOxh/fCtETTXlGrlBIk22gF5QaiQrDfxEEJd1puFXw+OL/03FsrFVCHvDR8fGRGWi4vTT2/Uh5NGMCKDFszOMYNv0SGb2ERq5P26nAE3BM5TOFjY+e55rVy5pyKM6RpBshBFoaPfa+3oP9yOf0QHbdEUWXltz0wB/0Fal7fZgyY2U+CxyORS+wO0HlP4lecYmJ/XEr8rHs0eksgv6GI7FFo3IMu1onbGMR13AO4hdW01wS5CldyCLD9pPU3p02zQ==</string>
			<key>early-build</key>
			<false/>
			<key>pks-1</key>
			<string>58MT+3VLLMil2ZBIZPHGtUQZH1y1LD5AnVR6t4J8TUk=</string>
			<key>pks-2</key>
			<string>w9I8WrpHr1YAS0DugvLGsrI9Vm1yEkZAyllKxemXXf4=</string>
		</dict>
	</array>
	<key>restrictResponse</key>
	<false/>
	<key>crypto</key>
	<dict>
		<key>aes-key</key>
		<string>iiNWLZuuK2q5D2Wzh/ZJaNad94oHifps0nXOLDzqwaSvpUB7MzjdJQKQgMAgPcB4Ce+S/rcIJR9kORmZ/i7SXWFwZUUC6ilCFp5avyujHn5RjYe/qINqLJzrGQ449o0z7h10sVDDR+DD51oJGL6s5o9m/wRdW8nRKGdIM/oRiow8TJyqd8wX4hPMtXimBmzAS0Llwa38dVpqCyoRmaLgdp3pFcIdqrMbLLH/cCnKc0WAFxS9E8OLVXzdTpNn1m8AQZRRYfrr/QdeDk2ZhRwBO374vD4filEqHC0CH36gmhh1nCwSUtgGAFwB5cSKkb5RyTQhA6mKLn8RRbY4vDCAgQ==</string>
		<key>enabled</key>
		<true/>
		<key>rsa-pk</key>
		<string>-----BEGIN CERTIFICATE-----
MIID/zCCAuegAwIBAgIUVHFSYgFMZNdaT4Be4yZUYKvLlU0wDQYJKoZIhvcNAQEL
BQAwgY4xCzAJBgNVBAYTAktFMQ4wDAYDVQQIDAVLRU5ZQTEQMA4GA1UEBwwHTkFJ
Uk9CSTEXMBUGA1UECgwORUNMRUNUSUNTIElOVC4xDDAKBgNVBAsMA1JORDEMMAoG
A1UEAwwDLjUxMSgwJgYJKoZIhvcNAQkBFhlGQVJBSC5GQUlTQUxARUNMRUNUSUNT
LklPMB4XDTI0MDMxMjA3Mzk1MVoXDTI1MDMxMjA3Mzk1MVowgY4xCzAJBgNVBAYT
AktFMQ4wDAYDVQQIDAVLRU5ZQTEQMA4GA1UEBwwHTkFJUk9CSTEXMBUGA1UECgwO
RUNMRUNUSUNTIElOVC4xDDAKBgNVBAsMA1JORDEMMAoGA1UEAwwDLjUxMSgwJgYJ
KoZIhvcNAQkBFhlGQVJBSC5GQUlTQUxARUNMRUNUSUNTLklPMIIBIjANBgkqhkiG
9w0BAQEFAAOCAQ8AMIIBCgKCAQEAr+Blt3jheA/NPXWmA1Q06xk/ZX4PmoFMGobm
Ibn5RxDNkcBonq21RlDXfINYxqoAARdZqkacIay6CdlK6rD9H/mtfEilL58RKY8X
CKCO9YMiyRB2qe/z/pTg4Chbh3hDLxDo02NTb+VwIuSrcDG0RAGJvUjyL93rRQbX
lUB6cZWr2+1bQdyKYKKfwtTanNDouOKBunHRUSeVcCbEYrRmD7QIoXwRjbTf8NUq
J12FbgrBmolnrLlpqujBrPnSWSQdA+gFFOnMNY5ICtHgbgwTCcoplHJSjPClEMQV
LEOe/0IpabSPLGfgVipUTBSxUuH+RA9eDnyAVBwVc9UNiJWuQwIDAQABo1MwUTAd
BgNVHQ4EFgQUceiHexSHpuiNt+RrRyMZCBWfUdIwHwYDVR0jBBgwFoAUceiHexSH
puiNt+RrRyMZCBWfUdIwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOC
AQEAgY6UbgvjdhnwNMaU2qCBhlRr8X3wWEmtPF3KXVenwJiTvtDTopcIjV6UUbyA
Td+orzwfNqMVpPaH6LAMUrbzGzOX1w6Ngzbi9r2kD3oiXQmmLozVPjWN1+aB7acG
S2o8MIBbcBaTQuOW2Vbgm+bSGN4fG/XV7Kyosi9pq6/ETTqJiuAWJGBSVV616R0x
/BgDS7WuOKsCQ2e+mmoue8Z3jahN+RNtAsvwgBRVAIGrwPtdF5msNFoxgriBGaWF
gGOWWR21rd5NLpZ1rOJpVHz5PLxhHfluLmtkzM8NwDtS7m3LkhePPEgriqLyom6F
loGG2MqsH7/XvFt7UuFtVy7A8g==
-----END CERTIFICATE-----</string>
	</dict>
	<key>db-migrations</key>
	<dict>
		<key>enabled</key>
		<false/>
		<key>current-version</key>
		<string>v0</string>
	</dict>
	<key>limits</key>
	<dict>
		<key>min-airtime</key>
		<integer>10</integer>
		<key>max-airtime</key>
		<integer>70000</integer>
		<key>min-paybill</key>
		<integer>10</integer>
		<key>max-paybill</key>
		<real>70000</real>
		<key>min-mobile-money</key>
		<integer>10</integer>
		<key>max-mobile-money</key>
		<real>70000</real>
		<key>min-eft</key>
		<integer>10</integer>
		<key>max-eft</key>
		<real>70000</real>
		<key>min-rtgs</key>
		<integer>10</integer>
		<key>max-rtgs</key>
		<real>70000</real>
		<key>min-pesalink</key>
		<integer>10</integer>
		<key>max-pesalink</key>
		<real>70000</real>
		<key>min-it</key>
		<integer>10</integer>
		<key>max-it</key>
		<real>70000</real>
		<key>min-ot</key>
		<integer>10</integer>
		<key>max-ot</key>
		<real>70000</real>
		<key>min-fcy</key>
		<integer>2</integer>
	</dict>
	<key>acc-length</key>
	<integer>12</integer>
	<key>messages</key>
	<dict>
		<key>session-expired</key>
		<string>Your Session has expired, kindly login!</string>
		<key>trans-success</key>
		<string>Request Received Successfully</string>
		<key>conn-error</key>
		<string>You have a slow or no internet access. Kindly check your internet and try again.</string>
		<key>service-error</key>
		<string>Dear customer,there is an issue processing your request, please try again later.Thank you.</string>
		<key>app-update</key>
		<string>A new version of this app has been released on Apple Store
Its highly recommended to update and enjoy fixes and new features

Tap &apos;UPDATE&apos; to view in Apple Store ..</string>
		<key>IDFA-permission</key>
		<string>MobileBanking uses your Device Unique Identifier to protect your mobile banking account from fraudsters and access from unauthorised devices or places. 

We respect your privacy and we neither collect your personal details nor share this Device ID with any third parties</string>
		<key>device-root-error</key>
		<string>This application can not run on Rooted devices , unroot your device and try again
If this problem persist, kindly contact the bank</string>
		<key>device-simulation-error</key>
		<string>This application does not work on virtual devices or simulators. You need an actual device to run it!</string>
	</dict>
	<key>enforce-nok</key>
	<false/>
	<key>enforce-updates</key>
	<false/>
	<key>use-swift-ui</key>
	<false/>
	<key>enforce-rv-otp</key>
	<true/>
	<key>urls</key>
	<dict>
		<key>google-key</key>
		<string>hgfC2zERmWCoTvuzOJTncQKBDGACogt5d6xyp5bXbkZeLDHnq/goroJt3rtckxzC</string>
		<key>tnc-url</key>
		<string>https://www.postbank.co.ke/wp-content/uploads/2023/02/Personal_Account_Terms_and_Conditions.pdf</string>
		<key>privacy-url</key>
		<string>https://www.MobileBanking.co.ke/data-privacy-statement-2/</string>
		<key>app-store</key>
		<string>uFh6OQTE2cp8s5HNAwDdfmM7FApXihbCOd2DdnoiNU+jiS2/hjb7jXgn7nBn1x+8LrKqwuEQJmM/BQLbhQt6gw==</string>
	</dict>
	<key>show-limits</key>
	<false/>
	<key>client</key>
	<dict>
		<key>name</key>
		<string>MobileBanking</string>
		<key>code</key>
		<string>79</string>
		<key>swiftCode</key>
		<string>MobileBanking</string>
		<key>sortCode</key>
		<string></string>
	</dict>
	<key>services</key>
	<dict>
		<key>handshake</key>
		<dict>
			<key>endpoint</key>
			<string>handShake</string>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
		</dict>
		<key>branches</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>branchDetails</string>
			<key>active</key>
			<true/>
		</dict>
		<key>agencies</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>agencies</string>
			<key>active</key>
			<true/>
		</dict>
		<key>charges</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>getCharges</string>
			<key>active</key>
			<true/>
		</dict>
		<key>phone-lookup</key>
		<dict>
			<key>code</key>
			<string></string>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>lookUp</string>
			<key>active</key>
			<true/>
		</dict>
		<key>register</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>register</string>
			<key>active</key>
			<true/>
		</dict>
		<key>login</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>login</string>
			<key>active</key>
			<true/>
		</dict>
		<key>topup</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>airtime</string>
			<key>active</key>
			<true/>
		</dict>
		<key>setOtp</key>
		<dict>
			<key>code</key>
			<string></string>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>setOtp</string>
			<key>active</key>
			<true/>
		</dict>
		<key>verifyOtp</key>
		<dict>
			<key>code</key>
			<string></string>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>verifyOtp</string>
			<key>active</key>
			<true/>
		</dict>
		<key>sec-questions</key>
		<dict>
			<key>endpoint</key>
			<string>secQuestions</string>
			<key>icon</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
		</dict>
		<key>set-question-answers</key>
		<dict>
			<key>endpoint</key>
			<string>secAnswers</string>
			<key>icon</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
		</dict>
		<key>get-user-questions</key>
		<dict>
			<key>endpoint</key>
			<string>getUserQuestions</string>
			<key>active</key>
			<true/>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
		</dict>
		<key>unlock</key>
		<dict>
			<key>active</key>
			<true/>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>unlock</string>
		</dict>
		<key>set-sec-qns</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>secAnswers</string>
			<key>active</key>
			<true/>
		</dict>
		<key>mini</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>mini</string>
			<key>active</key>
			<true/>
		</dict>
		<key>full</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>endpoint</key>
			<string>fullStatement</string>
		</dict>
		<key>bi</key>
		<dict>
			<key>endpoint</key>
			<string>bi</string>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
			<key>icon</key>
			<string></string>
		</dict>
		<key>deposit</key>
		<dict>
			<key>endpoint</key>
			<string>deposit</string>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
		</dict>
		<key>cbsLookup</key>
		<dict>
			<key>endpoint</key>
			<string>CBSlookUp</string>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
		</dict>
		<key>internalFt</key>
		<dict>
			<key>endpoint</key>
			<string>internalFt</string>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
		</dict>
		<key>withdraw</key>
		<dict>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>withdraw</string>
		</dict>
		<key>biller-presentment</key>
		<dict>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>TvBillPresentment</string>
		</dict>
		<key>water-presentment</key>
		<dict>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>billPresentment</string>
		</dict>
		<key>schoolfees-presentment</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>student-presentment</string>
		</dict>
		<key>listBillers</key>
		<dict>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>ListBillers</string>
		</dict>
		<key>billpayment</key>
		<dict>
			<key>endpoint</key>
			<string>billPayment</string>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
			<key>icon</key>
			<string></string>
		</dict>
		<key>biller-categories</key>
		<dict>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>biller-categories</string>
		</dict>
		<key>serviceCodes</key>
		<dict>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>serviceCodes</string>
		</dict>
		<key>water-company</key>
		<dict>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>waterBillers</string>
			<key>icon</key>
			<string></string>
		</dict>
		<key>wu-token</key>
		<dict>
			<key>endpoint</key>
			<string>wu/token</string>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
			<key>icon</key>
			<string></string>
		</dict>
		<key>wuKycLookUp</key>
		<dict>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>customer/kyc</string>
		</dict>
		<key>sendWuKyc</key>
		<dict>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>wu/customer/kyc</string>
		</dict>
		<key>getWuJwt</key>
		<dict>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>wu/iframe/jwt</string>
		</dict>
		<key>logout</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>user/log-out</string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
		</dict>
		<key>ipslPhoneLookup</key>
		<dict>
			<key>endpoint</key>
			<string>ipsl/lookup/phonenumber</string>
			<key>icon</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
		</dict>
		<key>ipslAccLookup</key>
		<dict>
			<key>endpoint</key>
			<string>ipsl/lookup/account-verification</string>
			<key>active</key>
			<true/>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
		</dict>
		<key>ipslft</key>
		<dict>
			<key>endpoint</key>
			<string>ipsl/ft</string>
			<key>icon</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
		</dict>
		<key>ipslbanks</key>
		<dict>
			<key>endpoint</key>
			<string>ipsl/banks</string>
			<key>icon</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
		</dict>
		<key>ipslLinking</key>
		<dict>
			<key>endpoint</key>
			<string>ipsl/customer-registration</string>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
		</dict>
		<key>charges-nonb</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>endpoint</key>
			<string>getCharges/non-account</string>
		</dict>
		<key>airtime-nonb</key>
		<dict>
			<key>endpoint</key>
			<string>airtime/non-account</string>
			<key>icon</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
		</dict>
		<key>list-bill-nonb</key>
		<dict>
			<key>endpoint</key>
			<string>listBillers/non-account</string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>icon</key>
			<string></string>
		</dict>
		<key>bill-category-nonbank</key>
		<dict>
			<key>endpoint</key>
			<string>biller-categories/non-account</string>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
		</dict>
		<key>water-company-nonB</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>endpoint</key>
			<string>waterBillers/non-customer</string>
		</dict>
		<key>water-presentment-nonb</key>
		<dict>
			<key>endpoint</key>
			<string>billPresentment/non-account</string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>icon</key>
			<string></string>
		</dict>
		<key>tv-presentment-nonB</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>TvBillPresentment/non-account</string>
			<key>active</key>
			<true/>
		</dict>
		<key>student-presentment-nonB</key>
		<dict>
			<key>endpoint</key>
			<string>student-presentment/non-account</string>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
		</dict>
		<key>bill-payment-nonb</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>billPayment/non-account</string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
		</dict>
		<key>acctypes</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>endpoint</key>
			<string>account-types</string>
		</dict>
		<key>accrequirements</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>account-requirements</string>
			<key>active</key>
			<true/>
		</dict>
		<key>open-acc-existing</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>existing-account-opening</string>
			<key>active</key>
			<false/>
		</dict>
		<key>iprs</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>iprs-validation</string>
			<key>active</key>
			<true/>
		</dict>
		<key>new-acc-opening</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>account-opening</string>
			<key>active</key>
			<true/>
		</dict>
		<key>tokenFt</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>tokenFt</string>
			<key>active</key>
			<true/>
		</dict>
		<key>tokenLookUp</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>tokenLookUp</string>
			<key>active</key>
			<true/>
		</dict>
		<key>tokenEncashment</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>tokenEncashment</string>
			<key>active</key>
			<true/>
		</dict>
		<key>till-services</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>till-services</string>
			<key>active</key>
			<true/>
		</dict>
		<key>new-till</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>new-till</string>
			<key>active</key>
			<true/>
		</dict>
		<key>insurance-leads</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>insureLead</string>
			<key>active</key>
			<false/>
		</dict>
		<key>mpesa-stk-push</key>
		<dict>
			<key>endpoint</key>
			<string>mpesacheckout</string>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
		</dict>
		<key>validate-acc-opening</key>
		<dict>
			<key>active</key>
			<true/>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>validateAccountOpening</string>
		</dict>
		<key>activate-wallet</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<false/>
			<key>endpoint</key>
			<string>walletregister</string>
		</dict>
		<key>update-nok</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>active</key>
			<false/>
			<key>endpoint</key>
			<string>updateNOK</string>
			<key>code</key>
			<string></string>
		</dict>
		<key>open-digital-account</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>openDigitalAccount</string>
		</dict>
		<key>activate-ext-digital-account</key>
		<dict>
			<key>endpoint</key>
			<string>outDigitalAccount</string>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
		</dict>
		<key>open-digital-account-signup</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>endpoint</key>
			<string>signUpwithDititalAccount</string>
		</dict>
		<key>loan-details</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>endpoint</key>
			<string>loanBi</string>
		</dict>
		<key>loan-payment</key>
		<dict>
			<key>endpoint</key>
			<string>loanPay</string>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
		</dict>
		<key>user-loans</key>
		<dict>
			<key>endpoint</key>
			<string>activeLoansBI</string>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
		</dict>
		<key>loan-score-params</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>scoringParams</string>
			<key>active</key>
			<true/>
		</dict>
		<key>loan-fullstatement</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>LoanFullStatement</string>
			<key>active</key>
			<true/>
		</dict>
		<key>loan-request</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>loans</string>
			<key>active</key>
			<true/>
		</dict>
		<key>apply-loan</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>loanApply</string>
			<key>active</key>
			<true/>
		</dict>
		<key>loan-mini-statement</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>loanMini</string>
			<key>active</key>
			<false/>
		</dict>
		<key>loan-history</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>loanBorrowingHistory</string>
			<key>active</key>
			<true/>
		</dict>
		<key>open-account</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>accountopening</string>
			<key>active</key>
			<true/>
		</dict>
		<key>check-otp</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>endpoint</key>
			<string>checkOtp</string>
			<key>code</key>
			<string></string>
		</dict>
		<key>link-account</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>linkAccount</string>
			<key>active</key>
			<true/>
		</dict>
		<key>rtgs-transfer</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>rtgs</string>
			<key>code</key>
			<string>RTGS</string>
			<key>active</key>
			<true/>
		</dict>
		<key>forex</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>forexRates</string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
		</dict>
		<key>link-pesalink-phone</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string>PESA</string>
			<key>endpoint</key>
			<string>pesaLink</string>
			<key>active</key>
			<true/>
		</dict>
		<key>update-pesalink</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string>PESA</string>
			<key>endpoint</key>
			<string>pesaLink</string>
			<key>active</key>
			<true/>
		</dict>
		<key>pesalink-transfer</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string>PESA</string>
			<key>endpoint</key>
			<string>pesalink</string>
			<key>active</key>
			<true/>
		</dict>
		<key>paybill</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string>payBill</string>
			<key>endpoint</key>
			<string>paybill</string>
			<key>active</key>
			<true/>
		</dict>
		<key>bill-presentment</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>presentment</string>
			<key>active</key>
			<true/>
		</dict>
		<key>lock-savings</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>lockSaving</string>
			<key>active</key>
			<true/>
		</dict>
		<key>external-sto</key>
		<dict>
			<key>endpoint</key>
			<string>externalSto</string>
			<key>icon</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>code</key>
			<string>externalSto</string>
		</dict>
		<key>internal-sto</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string>internalSto</string>
			<key>active</key>
			<true/>
			<key>endpoint</key>
			<string>internalSto</string>
		</dict>
		<key>stop-chequebook</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string>stopCheque</string>
			<key>active</key>
			<true/>
			<key>endpoint</key>
			<string>stopCheque</string>
		</dict>
		<key>new-chequebook</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string>requestCheque</string>
			<key>endpoint</key>
			<string>requestCheque</string>
			<key>active</key>
			<true/>
		</dict>
		<key>replacecard</key>
		<dict>
			<key>endpoint</key>
			<string>replaceCard</string>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string>atmRequest</string>
			<key>active</key>
			<false/>
		</dict>
		<key>newcard</key>
		<dict>
			<key>code</key>
			<string>atmRequest</string>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>atmRequest</string>
			<key>active</key>
			<true/>
		</dict>
		<key>fullstatement</key>
		<dict>
			<key>code</key>
			<string>fullStatement</string>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>fullstatement</string>
			<key>active</key>
			<true/>
		</dict>
		<key>ministatement</key>
		<dict>
			<key>code</key>
			<string>MINI</string>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>mini</string>
			<key>active</key>
			<true/>
		</dict>
		<key>edit-sto</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string>amendSto</string>
			<key>active</key>
			<true/>
			<key>endpoint</key>
			<string>amendSto</string>
		</dict>
		<key>stop-sto</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string>stopSto</string>
			<key>endpoint</key>
			<string>stopSto</string>
			<key>active</key>
			<true/>
		</dict>
		<key>sto-lookup</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>stoList</string>
			<key>active</key>
			<true/>
		</dict>
		<key>pesalink-lookup</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>endpoint</key>
			<string>pesaLookup</string>
		</dict>
		<key>account-lookup</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>endpoint</key>
			<string>accountlookup</string>
		</dict>
		<key>bank-lookup</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
			<key>endpoint</key>
			<string>banksList</string>
		</dict>
		<key>school-lookup</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>schoolsList</string>
			<key>active</key>
			<true/>
		</dict>
		<key>school-fees</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>schoolfeespayment</string>
			<key>active</key>
			<true/>
		</dict>
		<key>balance-inquiry</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string>BI</string>
			<key>endpoint</key>
			<string>bi</string>
			<key>active</key>
			<true/>
		</dict>
		<key>transaction-charges</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>charges</string>
			<key>active</key>
			<true/>
		</dict>
		<key>e-ft</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>eft</string>
			<key>active</key>
			<false/>
		</dict>
		<key>ft</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string>FT</string>
			<key>endpoint</key>
			<string>ft</string>
			<key>active</key>
			<true/>
		</dict>
		<key>mobile-money</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>b2c</string>
			<key>active</key>
			<true/>
		</dict>
		<key>change-pin</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>changePin</string>
			<key>active</key>
			<true/>
		</dict>
		<key>transaction-otp</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>transOtp</string>
			<key>active</key>
			<true/>
		</dict>
		<key>account-cards</key>
		<dict>
			<key>code</key>
			<string></string>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>getCardDetails</string>
			<key>active</key>
			<true/>
		</dict>
		<key>card-limits</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>getLimits</string>
			<key>active</key>
			<true/>
		</dict>
		<key>user-sec-qns</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>mySetSecQuestions</string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
		</dict>
		<key>ncc-vtypes</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>parking_presentment</string>
			<key>active</key>
			<false/>
		</dict>
		<key>ncc-regions</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>parking_presentment</string>
			<key>active</key>
			<false/>
			<key>code</key>
			<string></string>
		</dict>
		<key>ncc-presentment</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>presentment</string>
			<key>active</key>
			<true/>
		</dict>
		<key>ecitizen-presentment</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>lookUp</string>
			<key>active</key>
			<false/>
		</dict>
		<key>block-card</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>blockCard</string>
			<key>active</key>
			<true/>
		</dict>
		<key>unblock-card</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>unBlock</string>
			<key>active</key>
			<true/>
		</dict>
		<key>update-card-limits</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>setLimits</string>
			<key>active</key>
			<true/>
		</dict>
		<key>financial-analysis</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>dashboards</string>
			<key>active</key>
			<true/>
		</dict>
		<key>feedback</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>guestFeedback</string>
			<key>active</key>
			<true/>
		</dict>
		<key>user-complaint</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>feedbackRequest</string>
			<key>active</key>
			<false/>
		</dict>
		<key>recharge-card-mobile-money</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>mobileMoney</string>
			<key>active</key>
			<false/>
		</dict>
		<key>recharge-card-core-acc</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>fundsTransfer</string>
			<key>active</key>
			<false/>
		</dict>
		<key>connect-debit-card</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>linkCard</string>
			<key>active</key>
			<false/>
		</dict>
		<key>add-beneficiary</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<false/>
			<key>endpoint</key>
			<string>addBeneficiary</string>
		</dict>
		<key>all-beneficiaries</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<false/>
			<key>endpoint</key>
			<string>viewBeneficiary</string>
		</dict>
		<key>remove-beneficiary</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>removeBeneficiary</string>
			<key>active</key>
			<false/>
		</dict>
		<key>merchant-lookup</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>accountLookUp</string>
			<key>active</key>
			<false/>
		</dict>
		<key>merchant-payment</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>merchantPayment</string>
			<key>active</key>
			<false/>
		</dict>
		<key>cardless-withdrawal</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>cardlessInitiation</string>
			<key>active</key>
			<true/>
			<key>code</key>
			<string></string>
		</dict>
		<key>agent-withdrawal</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>agentWithdrawal</string>
			<key>active</key>
			<true/>
		</dict>
		<key>atm-withdrawal</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>atmWithdrawal</string>
			<key>active</key>
			<true/>
		</dict>
		<key>branches-lookup</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>viewBankBranches</string>
			<key>active</key>
			<true/>
		</dict>
		<key>confirm-chequebook</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>confirmCheque</string>
			<key>active</key>
			<false/>
		</dict>
		<key>merchant-ref-payment</key>
		<dict>
			<key>code</key>
			<string></string>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>payWithReferenceNumber</string>
			<key>active</key>
			<false/>
		</dict>
		<key>transfer-loyalty-points</key>
		<dict>
			<key>code</key>
			<string></string>
			<key>active</key>
			<false/>
			<key>endpoint</key>
			<string>transferLoyaltyPoints</string>
			<key>icon</key>
			<string></string>
		</dict>
		<key>redeem-loyalty-points</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>redeemLoyaltyPoints</string>
			<key>active</key>
			<false/>
		</dict>
		<key>answer-sec-qns</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>endpoint</key>
			<string>validateSecQuestions</string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<true/>
		</dict>
		<key>loyalty-points-balance</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>loyaltyPoints</string>
			<key>active</key>
			<true/>
		</dict>
		<key>invite-friend</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>inviteAfriend</string>
			<key>active</key>
			<false/>
		</dict>
		<key>deposit-money</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>deposit</string>
			<key>active</key>
			<false/>
		</dict>
		<key>loan-products</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>loansProducts</string>
			<key>active</key>
			<false/>
		</dict>
		<key>client-tellers</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>faulubranchesList</string>
			<key>active</key>
			<false/>
		</dict>
		<key>bankers-cheque</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string>BankerCheque</string>
			<key>endpoint</key>
			<string>bankersCheque</string>
			<key>active</key>
			<false/>
		</dict>
		<key>insurance-products</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>insureProducts</string>
			<key>active</key>
			<false/>
		</dict>
		<key>ads</key>
		<dict>
			<key>endpoint</key>
			<string>ads</string>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>active</key>
			<false/>
		</dict>
		<key>call-saving-accs</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>callDepositList</string>
			<key>active</key>
			<false/>
		</dict>
		<key>fixed-saving-accs</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>fixedDepositList</string>
			<key>active</key>
			<true/>
		</dict>
		<key>open-call-savings</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>callDepositOpen</string>
			<key>active</key>
			<true/>
		</dict>
		<key>close-call-savings</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>callDepositClose</string>
			<key>active</key>
			<false/>
		</dict>
		<key>deposit-call-savings</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>deposit-call-savings</string>
			<key>active</key>
			<false/>
		</dict>
		<key>open-fixed-savings</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>fixedDeposit</string>
			<key>active</key>
			<true/>
		</dict>
		<key>close-fixed-savings</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>close-fixed-savings</string>
			<key>active</key>
			<false/>
		</dict>
		<key>deposit-fixed-savings</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>deposit-fixed-savings</string>
			<key>active</key>
			<true/>
		</dict>
		<key>tellers</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>lacateUsList</string>
			<key>active</key>
			<true/>
		</dict>
		<key>mpesa-deposit</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>mpesacheckout</string>
			<key>active</key>
			<true/>
		</dict>
		<key>reset-pin-otp</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>fogotPinOtp</string>
			<key>active</key>
			<true/>
		</dict>
		<key>link-bank-account</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>linkAccount</string>
			<key>active</key>
			<true/>
		</dict>
		<key>unlinked-bank-accounts</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>unlinkedAccountsLookup</string>
			<key>active</key>
			<true/>
		</dict>
		<key>unlink-bank-account</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>unlinkAccount</string>
			<key>active</key>
			<true/>
		</dict>
		<key>linked-bank-accounts</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>linkedAccountsLookup</string>
			<key>active</key>
			<true/>
		</dict>
		<key>agent-lookup</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>agentDetails</string>
			<key>active</key>
			<true/>
		</dict>
		<key>dormant-bank-account</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>dormantAccounts</string>
			<key>active</key>
			<true/>
		</dict>
		<key>activate-dormant-account</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>activateAccount</string>
			<key>active</key>
			<true/>
		</dict>
		<key>external-loan-score-param</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>outScoringParams</string>
			<key>active</key>
			<true/>
		</dict>
		<key>open-account-lead</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>openAccount</string>
			<key>active</key>
			<true/>
		</dict>
		<key>enabled-services</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>code</key>
			<string></string>
			<key>endpoint</key>
			<string>enabledServices</string>
			<key>active</key>
			<true/>
		</dict>
	</dict>
	<key>contacts</key>
	<dict>
		<key>youtube-link</key>
		<string>https://www.youtube.com/channel/UCjlDDxnUTFHax5HStHUBMDw</string>
		<key>linkedin-link</key>
		<string></string>
		<key>linkedin-profile</key>
		<string></string>
		<key>twitter-link</key>
		<string></string>
		<key>twitter-profile</key>
		<string></string>
		<key>facebook-link</key>
		<string></string>
		<key>email</key>
		<string></string>
		<key>phone</key>
		<string></string>
		<key>facebook-profile</key>
		<string></string>
		<key>instagram-link</key>
		<string></string>
		<key>instagram-profile</key>
		<string></string>
	</dict>
	<key>invites</key>
	<dict>
		<key>sms-invite</key>
		<string>Hi, have you tried Postbank, the Mobile Banking App. Its realy cool.
https://itunes.apple.com/ke/app/digicash/id1213694573?mt=8
You should try it..</string>
		<key>hangouts-invite</key>
		<string>Hi, have you tried MobileBanking, the Mobile Banking App. Its realy cool.
https://itunes.apple.com/ke/app/digicash/id1213694573?mt=8
You should try it..</string>
		<key>email-invite</key>
		<string>&lt;div&gt;Hi, have you tried Postbank, the Mobile Banking App. See links below;&lt;br&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&apos;https://itunes.apple.com/ke/app/cbkonnect/id1213694573?mt=8&apos;&gt;Apple Store&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&apos;https://play.google.com/store/apps/details?id=com.creditbank.ios.cbkonnect&amp;hl=en&apos;&gt;Google Play Store&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt; &lt;br/&gt;Its realy cool. &lt;br/&gt;You should try it..&lt;/div&gt;</string>
		<key>fb-messanger-invite</key>
		<string>Hi, have you tried Postbank, the Mobile Banking App. Its realy cool.
https://itunes.apple.com/ke/app/digicash/id1213694573?mt=8
You should try it..</string>
		<key>whatsapp-invite</key>
		<string>Hi, have you tried Postbank, the Mobile Banking App. Its realy cool.
https://itunes.apple.com/ke/app/digicash/id1213694573?mt=8
You should try it..</string>
		<key>twitter-invite</key>
		<string>Hi, have you tried Postbank, the Mobile Banking App. Its realy cool.
https://itunes.apple.com/ke/app/digicash/id1213694573?mt=8
You should try it..</string>
	</dict>
</dict>
</plist>
